@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@font-face {
    font-family: 'Designer';
    src: url('/src/app/assets/fonts/Designer.otf') format('opentype');
    font-weight: regular; /* Adjust if you have different weights */
    font-style: normal; /* Adjust if you have different styles */
}

/* homepage */
.homepage {
    @apply relative h-screen w-screen overflow-hidden;
}

/* promo banner */
.promo-banner {
    @apply h-[34px] md:h-[37px] w-screen bg-Limerick text-Cetacean-Blue font-orbitron text-[10px] md:text-[12px] flex items-center justify-center;
}
.promo-button {
    @apply ml-1 underline text-Cetacean-Blue;
}

/* nav bar */
.nav-bar {
    @apply h-[62px] md:h-[75px] w-screen bg-Ateneo-Blue flex;
}
.menu-button {
    @apply block lg:hidden ml-[16px] self-center;
}
.logo {
    @apply font-designer text-[20px] md:text-[32px] text-Bright-Gray text-shadow-custom ml-[19px] md:ml-[40px] mr-[20px] self-center;
}
.nav-links {
    @apply hidden lg:flex mx-auto w-[30vw] font-orbitron text-Bright-Gray text-[12px] justify-between;
}
.nav-text {
    font-size: clamp(10px, 1.1vw, 16px);
}
.search-icon {
    @apply block md:hidden w-[18px] h-[18px];
}
.cart-icon {
    @apply w-[20px] h-[20px] md:w-[23px] md:h-[23px];
}
.user-icon {
    @apply mt-[1px] w-[21px] h-[20px] md:w-[26px] md:h-[24px];
}
.search-bar {
    @apply hidden md:flex ml-auto self-center;
}
.input-bar {
    @apply flex w-[50vw] lg:w-[30vw] h-[37px] bg-Bright-Gray bg-opacity-50 rounded-[50px];
}
.search-light {
    @apply self-center ml-[10px];
}
.input {
    @apply ml-[10px] w-full bg-Bright-Gray bg-opacity-0;
}
.right-buttons {
    @apply w-[86px] md:w-[60px] ml-auto md:ml-[20px] mr-[16px] md:mr-[20px] flex justify-between;
}

/* main landing */
.main-section {
    @apply flex flex-col relative w-screen h-[592px];
}
.landing-img-m {
    @apply absolute top-0 left-0 object-cover w-full h-[592px] z-[-10] m-br:hidden;
}
.landing-img {
    @apply hidden m-br:block absolute object-cover w-full h-[678px] lg:h-[400px] z-[-10] -top-[86px];
}
.header {
    @apply flex items-start font-designer text-Bright-Gray mt-[37px] ml-[18px] m-br:mt-[] m-br:ml-[5vw] md:mt-[48px] w-[80vw] md:w-[674px] h-auto text-[28px] md:text-[48px] lg:text-[64px] leading-[110%] tracking-[3%] text-left text-shadow-custom2;
}
.p1 {
    @apply flex items-center font-orbitron text-Bright-Gray mt-[40px] ml-[18px] m-br:ml-[5vw] w-[40vw] text-[12px] font-bold leading-[160%] tracking-[5%] text-left text-shadow-custom2;
}
.shop-button {
    @apply m-auto w-[205px] lg:w-[273px] h-[40px] lg:h-[56px] rounded-[120px] bg-Limerick inner-shadow self-center font-orbitron font-medium text-[20px] lg:text-[24px];
}
    @media (min-width: 768px) {
        .shop-button {
        position: absolute;
        top: 250px;
        left: 65%;
        }
    }
.inner-shadow {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

/* Products */
.products {
    @apply flex h-[892px]
}
    .new-arrivals {
        @apply w-screen h-[430px]
    }
        .arrivals-sep {
            @apply flex items-center justify-center h-[50px] font-orbitron font-black text-[24px] bg-Bittersweet-Shimmer
        }
    .products {
        @apply h-[430px]
    }

/* Background Images */
.background-img-m {
    @apply absolute top-0 left-0 z-[-200] m-br:hidden;
}
.background-img {
    @apply hidden m-br:block absolute top-0 left-0 w-screen z-[-200];
}