@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@font-face {
    font-family: 'Designer';
    src: url('/fonts/Designer.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'o210ital';
    src: url('/fonts/o210ital.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
}

body, html {
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: none; 
    scroll-behavior: smooth; 
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

/* homepage */
.homepage {
    @apply relative min-h-full w-screen overflow-x-hidden;
    overflow: visible;
}

/* promo banner */
.promo-banner {
    @apply h-[34px] md:h-[37px] w-screen bg-Limerick text-Cetacean-Blue font-orbitron flex items-center justify-center;
    font-size: clamp(10px, 2vw, 12px);
}
.promo-button {
    @apply ml-1 underline text-Cetacean-Blue;
}

/* nav bar */
.nav-bar {
    @apply flex items-center h-[62px] md:h-[75px] w-screen bg-Ateneo-Blue flex;
}
    .menu-button {
        @apply block lg:hidden ml-[16px] self-center;
    }
    .logo {
        @apply font-designer text-[20px] md:text-[32px] text-Bright-Gray text-shadow-custom ml-[19px] md:ml-[40px] mr-[20px] self-center;
    }
    .nav-links {
        @apply hidden lg:flex mx-auto w-[30vw] font-orbitron text-Bright-Gray text-[12px] justify-between;
    }
    .search-bar {
        @apply hidden md:flex ml-auto self-center;
    }
        .input-bar {
            @apply flex w-[50vw] lg:w-[30vw] h-[37px] bg-Bright-Gray bg-opacity-50 rounded-[50px] font-orbitron text-white text-[14px];
        }
        .input:focus-visible {
            outline: none;
          }
            .search-light {
                @apply self-center ml-[10px];
            }
            .input {
                @apply ml-[10px] w-full bg-Bright-Gray bg-opacity-0;
            }
    .right-buttons {
        @apply w-[86px] h-fit md:w-[60px] ml-auto md:ml-0 md:w-[9vw] flex justify-evenly;
    }
        .search-icon {
            @apply block md:hidden w-[18px] h-[18px];
        }
        .cart-icon {
            @apply w-[20px] h-[20px] md:w-[23px] md:h-[23px];
        }
        .user-icon {
            @apply mt-[1px] w-[21px] h-[20px] md:w-[26px] md:h-[24px];
        }

/* main landing */
.main-section {
    @apply flex flex-col relative w-screen h-[80vh];
}
.landing-img {
    @apply absolute object-cover w-full h-[90vh] z-[-10] -top-[10vh];
}   
.header {
    @apply flex opacity-0 font-designer text-Bright-Gray mt-[37px] lg:mt-[4vw] ml-[18px] lg:ml-[4vw] w-[70vw] lg:w-[50vw] h-auto leading-[110%] tracking-[3%] text-left text-shadow-custom2;
    font-size: clamp(22px, 4vw, 7vh); /* Minimum 20px, responsive scaling at 4vw, max 5vh */
    animation: fadeIn .5s ease-in forwards;
    animation-delay: 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.p1 {
    @apply flex opacity-0 items-center font-orbitron text-Bright-Gray mt-[40px] ml-[18px] lg:ml-[4vw] w-[40vw] h-auto font-bold leading-[160%] tracking-[5%] text-left text-shadow-custom2;
    font-size: clamp(10px, 1.5vw, 24px); /* Minimum 10px, maximum 24px, responsive in between */
    animation: fadeIn .5s ease-in forwards;
    animation-delay: 2s;
}
.shop-button {
    @apply inline-flex items-center justify-center m-auto opacity-0 w-[205px] md:w-[273px] h-[40px] md:h-[56px] rounded-[120px] bg-Limerick inner-shadow self-center font-orbitron font-medium text-black text-[20px] lg:text-[24px];
    animation: fadeIn 0.5s linear forwards 3s;
    transform: scale(1); /* Ensure a base scale to avoid conflicts */
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

.shop-button:hover {
    transform: scale(1.1); /* Scale up on hover */
}


    @media (min-width: 1024px) {
        .shop-button {
        position: absolute;
        top: 50%;
        left: 65%;
        }
    }
.inner-shadow {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

/* Products */
.products {
    @apply flex flex-row pb-[86px]
}
    .new-arrivals, .top-products {
        @apply w-full;
    }   
        .arrivals-sep {
            @apply flex items-center justify-center w-screen h-[50px] font-orbitron font-black text-black text-[24px] bg-Bittersweet-Shimmer
        }
        .top-sep {
            @apply flex items-center justify-center w-screen h-[50px] font-designer font-black text-black text-[24px] bg-Limerick
        }
        .key-sep {
            @apply flex items-center justify-center w-screen h-[50px] font-o210ital font-black text-white text-[24px] bg-black
        }
        .ocean-sep {
            @apply flex-col items-center justify-center w-screen h-[50px] font-o210ital font-black text-black text-[24px] bg-Limerick
        }
            .blk-line-container {
                @apply w-full h-auto py-[5px]
            }
                .blk-line {
                    @apply w-full h-[2px] bg-black z-[2]
                }
            .arrivals-wrapper {
                @apply flex items-center h-[50px]; 
                animation: scroll-left-arrivals 2s linear infinite;
            }
            .top-wrapper {
                @apply flex items-center h-[50px]; 
                animation: scroll-left-top 2s linear infinite;
            }
            .key-wrapper {
                @apply flex items-center h-[50px]; 
                animation: scroll-left-key 3s linear infinite;
            }
            .ocean-wrapper {
                @apply flex items-center h-[25px]; 
                animation: scroll-left-ocean 3s linear infinite;
            }
                .arrivals-text {
                    @apply flex-shrink-0 px-[20px] font-black; 
                    width: auto;                  
                }
                .top-text {
                    @apply flex-shrink-0 px-[17px] text-[24px]; 
                    width: auto;                  
                }
                .key-text {
                    @apply flex-shrink-0 pt-[4px] px-[10px] text-[16px] tracking-widest; 
                    width: auto;                  
                }
                .ocean-text {
                    @apply flex-shrink-0 pt-[4px] px-[10px] text-[16px] tracking-widest; 
                    width: auto;                  
                }
                
                /* Keyframes to move the elements from right to left */
                @keyframes scroll-left-arrivals {
                    0% {
                        transform: translateX(0px); /* Start at current position */
                    }
                    100% {
                        transform: translateX(-261px); /* Move to left completely */
                    }
                }
                @keyframes scroll-left-top {
                    0% {
                        transform: translateX(0px); /* Start at current position */
                    }
                    100% {
                        transform: translateX(-218.3px); /* Move to left completely */
                    }
                }
                @keyframes scroll-left-key {
                    0% {
                        transform: translateX(0px); /* Start at current position */
                    }
                    100% {
                        transform: translateX(-455.95px); /* Move to left completely */
                    }
                }
                @keyframes scroll-left-ocean {
                    0% {
                        transform: translateX(0px); /* Start at current position */
                    }
                    100% {
                        transform: translateX(-296.61px); /* Move to left completely */
                    }
                }
    .product-items {
        @apply flex py-[31px] px-[28px] lg:pt-[36px] gap-[13px] md:justify-around overflow-x-auto whitespace-nowrap hide-scrollbar;
    }
        .sunglasses {
            @apply flex-shrink-0 w-full max-w-[200px] lg:max-w-[250px];
        }
            .img-container {
                @apply h-[200px] w-full max-w-[200px] lg:h-[250px] lg:max-w-[250px] rounded-[15px] top-[10px] inline-block;
                overflow: hidden;  /* Hide any parts of the image that extend beyond the container */
            }
                .product-img {
                    @apply w-full h-full object-cover;  /* Cover the container with the image, cropping excess */
                    transform: scale(1.08);  /* Zoom the image in by 20% */
                    object-position: center;  /* Focus on the center of the image, adjust to top/bottom if needed */
                }
            .product-name {
                @apply pt-[5px] pl-[3px] font-orbitron font-medium text-black text-[16px] lg:text-[24px] text-left
            }
            .rating {
                @apply flex items-center
            }
                .star-rating {
                    @apply flex gap-[3px]
                }
                    .star {
                        @apply p-0 m-0 text-Bittersweet-Shimmer w-4 h-4 lg:w-5 lg:h-5;
                    }
                .number-rate {
                        @apply font-inter font-medium italic text-black ml-[6px] lg:ml-[12px] text-[12px] lg:text-[16px];
                }
            .price {
                @apply relative flex items-center font-orbitron font-bold text-[14px] lg:text-[24px];
            }
                .discounted-price {
                    @apply pl-[8px] lg:pl-[12px] pt-[4px] lg:pt-0 font-orbitron font-bold text-white text-[11px] lg:text-[16px];
                    position: relative;
                }
                .discounted-price::before {
                    content: '';
                    @apply absolute bg-white; 
                    height: 2px; 
                    width: 90%; 
                    transform: rotate(-20deg); 
                    transform-origin: left; 
                    left: 15%; 
                    top: 90%;
                    z-index: 1; 
                    margin-top: -1px; 
                }
                .discount {
                    @apply flex items-center justify-center ml-[6px] w-[42px] lg:w-[50px] h-[14px] lg:h-[17px] bg-Bittersweet-Shimmer rounded-[15px]
                }
                    .percentage {
                        @apply font-orbitron text-Light-Pink text-[8px] lg:text-[11px] text-center
                    }
    .btn-container {
        @apply flex justify-center
    }
        .view-button {
            @apply inline-flex items-center justify-center w-fit px-[30px] h-[48px] my-[24px] bg-Dark-Sky-Blue rounded-[50px] shadow-custom3 text-[18px] font-designer tracking-[3px] text-otherblue shadow-custom opacity-80;
        }
    
    .new-products {
        @apply flex py-[31px] px-[28px] lg:pt-[36px] gap-[13px] md:justify-around overflow-x-auto whitespace-nowrap hide-scrollbar;
    }


/* What We Do */
.what-we-do {
    @apply flex flex-col h-screen; 
}
    .what-container {
        @apply flex items-center justify-center relative h-full;
    }

        .text-window {
            @apply flex flex-col items-center justify-between w-[90vw] h-[80vh] max-w-[70vw] bg-black bg-opacity-80 rounded-[15px] p-[10px] text-shadow-customblack; 
            z-index: 1; 
        }

            .what-text-title {
                @apply flex justify-center items-center text-center font-o210ital text-white h-full;
                font-size: clamp(1vw + 1vh, 1.5vw + 1.5vh, 3vw + 3vh);
            }

            .what-text-content {
                @apply flex justify-center items-center text-center px-[3vw] font-orbitron text-white tracking-[1px];
                font-size: clamp(0.1vw + 0.1vh, 1.2vw + 1vh, 1vw + 1vh);
            }

            .what-learn-btn {
                @apply flex justify-center items-center text-center h-full font-orbitron text-white text-shadow-customblack;
                font-size: clamp(1vw + 1vh, 1.5vw + 1.5vh, 3vw + 3vh);
            }

    .ghost-net-img {
        @apply absolute top-0 left-0 w-full h-full object-cover;
        z-index: -1; /* Stay behind the text window */
    }


/* Model Images */
.models {
    @apply flex items-center justify-center grid gap-0; /* Grid layout with a gap between items */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
}
/* For larger screens, 4 images per row */
@media (min-width: 1000px) {
    .models {
      grid-template-columns: repeat(4, 1fr); /* 4 images per row */
    }
  }
    .model-img {
        @apply w-full h-full object-cover; /* Fixed size and maintain aspect ratio */
    }
    .mm {
        @apply hidden md:flex
    }
    .mmm {
        @apply flex lg:hidden
    }

/* Reviews */
.reviews-section {
    @apply flex items-center justify-center
}
    .reviews-content {
        @apply w-full py-[45px];
    }
        .reviews-header {
            @apply flex items-center px-[40px] ;
        }
            .reviews-title {
                @apply hidden font-orbitron text-black text-[20px] font-bold pt-[3px] text-shadow-custom2
            }
            @media (min-width: 400px) {
                .reviews-title {
                    @apply block
                }
              }
            .arrows {
                @apply flex justify-between items-center w-[60px] ml-auto
            }
                .arrow-btn {
                    @apply flex p-[10px] items-center
                }
                    .arrowleft {
                        @apply h-[15px] w-[15px] self-start
                    }
                    .arrowright {
                        @apply h-[15px] w-[15px] self-end rotate-180
                    }
        .reviews {
            @apply flex pl-[40px] space-x-4 overflow-visible;
        }            
            .review {
                @apply flex flex-col flex-shrink-0 justify-between p-[15px] space-y-[15px] mt-[29px] mb-[58px] w-[388px] review-width h-auto rounded-[15px];
                background-color: rgba(255, 255, 255, 0.27);
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
                scrollbar-width: none;
            }
            /* For Chrome, Safari, and Opera */
            .reviews::-webkit-scrollbar {
                display: none; /* Hide the scrollbar */
            }

            /* Optionally, if you want to hide the scrollbar track as well */
            .reviews::-webkit-scrollbar-track {
                display: none; /* Hide the track */
            }
            @media (max-width: 640px) {
                .review-width {
                    width: calc(100vw - 80px);
                }
            }
                .customer-name {
                    @apply font-orbitron font-black text-[12px];
                    letter-spacing: 0.2em;
                    font-size: clamp(10px, 2vw, 13px);
                }
                .verified {
                    @apply ml-[5px]
                }
                .quick-quote {
                    @apply font-orbitron font-bold text-[10px];
                    letter-spacing: 0.2em;
                    font-size: clamp(10px, 2vw, 11px);
                }
                .detailed-quote {
                    @apply font-orbitron text-[10px] h-full flex-grow max-w-fit break-words;
                    letter-spacing: 0.2em;
                    font-size: clamp(10px, 2vw, 11px);
                }

/* Newsletter */
.newsletter {
    @apply flex flex-col sm:flex-row items-center justify-evenly w-full h-auto bg-black
}
    .newsletter-container {
        @apply flex flex-col md:flex-row justify-between p-[31px]
    }
        .newsletter-title {
            @apply flex items-center justify-center font-orbitron text-white text-center text-[24px] lg:text-[32px] font-black text-white text-shadow-custom-white
        }
        .newsletter-input {
            @apply flex flex-col items-center justify-center w-full md:pl-[10vw] mt-[50px] md:mt-0
        }
            .email {
                @apply flex items-center pl-[15px] w-full h-[40px] bg-Bright-Gray rounded-[50px]
            }
                .email-input {
                    @apply text-center w-auto h-full mr-[20px] pt-[3px] flex-grow bg-Bright-Gray font-orbitron font-bold tracking-widest text-[11px]
                }
                .email-input:focus-visible {
                    @apply text-start pl-[20px] placeholder-transparent;
                    outline: none;
                }
            .sub-btn {
                @apply mt-[16px] pl-[15px] w-full h-[40px] text-center bg-Bright-Gray text-black text-[11px] font-orbitron font-black tracking-widest rounded-[50px]
            }

/* Footer */
.footer {
    @apply flex flex-col pt-[65px] sm:pt-[48px] px-[40px] sm:px-[40px]
}
    .footer-container {
        @apply flex flex-col lg:flex-row
    }
    .saurozen {
        @apply flex flex-col mr-[5vw]
    }
        .footer-logo {
            @apply text-[16px] sm:text-[32px] font-designer text-shadow-custom
        }
        .about {
            @apply pt-[17px] text-[12px] font-inter font-bold text-eerie-black-85 w-[50vw] lg:w-[30vw]
        }
        .link-buttons {
            @apply flex space-x-[13px] pt-[26px]
        }
            .link-btn {
                @apply flex items-center justify-center h-[25px] w-[25px] bg-Light-Steel-Blue rounded-[100px];
                box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.25);
                filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
            }
                .link-icon {
                    filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 0.75));
                }
    .footlinks {
        @apply flex flex-wrap justify-between w-full lg:flex-nowrap
    }
        .footitle {
            @apply flex flex-col font-orbitron text-[16px] font-bold pt-[23px] w-fit
        }
            .footlink {
                @apply flex font-orbitron text-[11px] font-normal pt-[10px] tracking-[2px] text-start w-fit
            }
    .line {
        @apply w-full h-[1px] mt-[39px];
        background-color: rgba(0, 0, 0, 0.31)
    }
    .bottomfooter {
        @apply flex flex-col items-center justify-center text-center text-wrap h-[74px] md:flex-row md:justify-between
    }   
        .rights {
            @apply font-orbitron font-bold text-[11px] tracking-[3px];
            color: rgba(0, 0, 0, 0.5)
        }
        .payments {
            @apply flex space-x-[14px] pt-[18px] md:pt-[0px]
        }
            .whitebox {
                @apply w-[39px] h-[22px] bg-white flex items-center justify-center rounded-full; /* Use 'rounded-full' for circular shape */
            }
                .payment-icon {
                    @apply w-auto h-auto;
                }
                .google-icon {
                    @apply w-[28px] h-[15px]
                }
        

/* Store Page */
    /* File Nav*/
    .products-container {
        @apply mx-[40px]
    }
        .dir-container {
            @apply flex my-[20px]
        }
            .dir {
                @apply font-orbitron text-[12px] text-Cetacean-Blue text-opacity-60
            }
            .folder {
                @apply font-orbitron text-[12px] text-Cetacean-Blue text-opacity-100
            }
        .products {
            @apply flex
        }
            .filter {
                @apply h-full w-[274px] bg-Light-Silver rounded-[25px] p-[22px];
                background-color: rgba(192, 192, 192, 0.5);
            }
                .filter-top {
                    @apply flex justify-between
                }
                    .filters-title {
                        @apply font-designer font-black text-opacity-80 text-[14px]
                    }
                    .sliders-button {
                        @apply h-[16px] w-[16px]
                    }
                .filter-line {
                    @apply w-full h-[2px] mt-[18px];
                    background-color: rgba(0, 0, 0, 0.31)
                }
                .types {
                    @apply flex-col space-y-[14px] my-[20px]
                }
                    .type {
                        @apply flex justify-between items-center w-full
                    }
                        .type-name {
                            @apply font-orbitron font-[14px];
                            font-weight: medium;
                        }
                        .arrow-filter {
                            @apply w-[6px] h-[12px]
                        }
                .filter-price {
                    @apply flex flex-col justify-center my-[20px]
                }
                    .title-container {
                        @apply flex justify-between
                    }
                        .arrow-filter-down {
                            @apply pb-[5px] rotate-90
                        }
                .price-slider {
                    @apply pt-[34px] pb-[22px]
                }
                    .slider-bar {
                        @apply flex items-center w-full h-[5px] rounded-[20px];
                        background-color: rgba(0, 0, 0, 0.2)
                    }
                        .min-slider-container {
                            @apply pt-[20px] flex flex-col items-center;
                            transform: translateX(36px); 
                        }
                            .min-price-slide {
                                @apply h-[15px] w-[15px] rounded-[100px];
                                background-color: rgba(33, 32, 36, 1);
                            }
                            .price-min {
                                @apply w-fit font-orbitron font-bold text-[14px];
                            }
                        .slider-bar-range {
                            @apply flex items-center w-[116px] h-[5px] rounded-[20px];
                            background-color: rgba(33, 32, 36, 1);
                            transform: translateX(20px); 
                        }
                        .max-slider-container {
                            @apply pt-[20px] flex flex-col items-center;
                        }
                            .max-price-slide {
                                @apply h-[15px] w-[15px] rounded-[100px];
                                background-color: rgba(33, 32, 36, 1);
                            }
                            .price-max {
                                @apply w-fit font-orbitron font-bold text-[14px];
                            }
                .filter-colors {
                    @apply flex flex-col justify-center my-[20px]
                }
                    .colors-selection {
                        @apply flex flex-col mt-[14px]
                    }
                        .sel-row {
                            @apply flex flex-row space-x-[13px] my-[6px]
                        }
                            .sel-orange {
                                @apply flex justify-center items-center w-[35px] h-[35px] rounded-full;
                                background-color: #D95B1E;
                            }
                            .sel-magenta {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #C05459;
                            }
                            .sel-lime {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #9DC913;
                            }
                            .sel-black {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: black;
                            }
                            .sel-white {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: white;
                            }
                            .sel-pink {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #F606A5;
                            }
                            .sel-yellow {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #F4DD06;
                            }
                            .sel-green {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #00C02B;
                            }
                            .sel-cian {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #06CAF5;
                            }
                            .sel-red {
                                @apply w-[35px] h-[35px] rounded-full;
                                background-color: #F60607;
                            }
                                .checked {
                                    color: black;
                                }
                .filter-size {
                    @apply flex flex-col justify-center my-[20px]
                }
                    .size-selection {
                        @apply flex justify-between pt-[18px]
                    }
                        .size-button {
                            @apply h-[32px] w-auto bg-white font-designer text-[12px] px-[10px] rounded-full
                        }
                .filter-collection {
                    @apply flex flex-col justify-center my-[20px]
                }
                    .types-container {
                        @apply py-[21px]
                    }
                .button-container {
                    @apply flex justify-center pb-[7px]
                }
                    .apply-button {
                        @apply px-[25px] py-[7px] rounded-full bg-black text-white font-designer
                    }


/* Background Image */
.background-img {
    @apply fixed top-0 left-0 h-screen w-screen z-[-200] object-cover;
}